body {
    background-color: yellow;
    font-family: monospace;
}
.introduction {
    font-style: oblique;
    text-transform: capitalize;
    text-align: center;
    color: red;
    font-size: 25px;
    text-decoration: underline;
}
h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    color: green;
}